cloudflare_account_id         = "your-cloudflare-account-id"
zone_id_com                   = "your-com-zone-id"
zone_id_dev                   = "your-dev-zone-id"
zone_id_net                   = "your-net-zone-id"
access_allowed_email          = "you@example.com"
protonmail_dkim_cname_target  = "your-protonmail-dkim-delegation-id"
protonmail_verification_token = "your-protonmail-verification-token"
google_site_verification      = "your-google-verification-token"
github_org_verification       = "your-github-org-verification-code"
resend_dkim_public_key        = "your-resend-dkim-public-key"
dmarc_rua_email               = "dmarc-reports@example.com"
checkly_alert_email           = "monitoring+checkly@example.com"
